<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
	<title>Document</title>    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<div id="app">
        <div class="load" id="loader">
		<div class="loading-process">Intalling <span class="loading-num" id="loading-num">0</span> %!</div>
		</div>
		<component v-bind:is="view" v-bind:csearch="dealText"></component> 
	</div>
	<!-- 主页home -->
	<script type="text/template"  id="tpl-home">
      <section id='home' class="home">
            <div class="nav">
			    	<div class="address">
			    		<span>上海</span>
			    		<span class="arrow"></span>
			    	</div>
			    	<div class="search">
			    		<a href='#/search/'>请输入商品名称、品类或商圈...</a>
			    	</div>
			    	<div class="login"><a href="#/login">登陆</a></div>
            </div>


            <div class="bg carousel" id="carousel">
					<ul>
						<li v-for="item in bg">
							<a href="#">
								<img v-bind:src="'img/bg/'+item.src"?__inline alt=""></a>
						</li>
					</ul>
					<ol>
				  	     <li class="cur"></li>
				  	     <li></li>
				    </ol>
    

		    </div>
	       	<ul class = "home-type clearfix">
	       	   	   <li v-for="item in types | filterBy csearch" ><a href="#/list/type/{{item.id}}"><img v-bind:src="'img/icon/' + item.url" alt=""><span>{{item.title}}</span></a></li>
	       	</ul>

	        <ul class="home-ad clearfix">
				<li v-for="item in ad">
					<a href="#/product/{{item.id}}">
						<h3>{{item.title}}</h3>
						<p>{{item.description}}</p>
						<img v-bind:src="'img/product/' + item.url" alt=""></a>
				</li>
			</ul>

			<ul class="list-container">
				   <li v-for="item in list">
				       <a href="#/product/{{item.id}}">
						    <img v-bind:src="'img/list/' + item.img"?__inline >
							<h3>{{item.title}}</h3>
							<p>
								<span class="price">{{item.price | price}}</span>
								<span >{{item.orignPrice | orignPrice}}</span>
								<span>{{item.sales | salses}}</span>
							</p>
				       </a>
				   </li>	
		     </ul>
      </section>
	</script>
	<!-- 列表list -->
	<script type="text/template" id = "tpl-list">
			<section class="list">
				<div class="list-nav">
				    	<div class="list-arrow" v-on:click="goBack">
				    	   <span></span>
				    	</div>
				    	<div class="list-search">
				    		<a href='#/search/'>请输入商品名称、品类或商圈...</a>
				    	</div>
				    	<div class="list-my">
                            <a href="#/login/"></a>
				    	</div>
	            </div>

		    	<ul class="list-type clearfix">
		    		<li v-for="item in types" v-on:click="sortBy(item.key)">{{item.value}}<i></i></li>
		    	</ul>
		    	<ul class="list-container">
				   <li v-for="item in list  | filterBy csearch">
				       <a href="#/product/{{item.id}}">
						    <img v-bind:src="'img/list/' + item.img"?__inline >
							<h3>{{item.title}}</h3>
							<p>
								<span class="price">{{item.price | price}}</span>
								<span >{{item.orignPrice | orignPrice}}</span>
								<span>{{item.sales | salses}}</span>
							</p>
				       </a>
				   </li>	
		     </ul>
		     <div class='loadMore' v-on:click = "loadMore">
		        <span>查看 {{others.length}} 其它条团购</span>
		     </div>
		    </section>
    </script>
	<!-- 产品product -->
	<script type="text/template" id="tpl-product">
        <div class="product">
            <div class="list-nav">
				    	<div class="list-arrow" v-on:click = 'goBack'>
				    		<span></span>
				    	</div>
				    	<div class="product-info">
				    		<h3>团购详情</h3>
				    	</div>
				    	<div class="list-my">
                            <a href="#/login/"></a>
				    	</div>
	        </div>
	    	<div class="img-product">
	    		<img v-bind:src="'img/item/' + product.src" alt="">
	    		<p class="title">{{product.title}}</p>
	    		<p class="description">{{product.description}}</p>
	    	</div>
	    	<div class="sales">
	    		<span class="price">{{product.price}}<span class="yuan">元</span></span>
	    		<span>{{product.orignPrice | orignPrice}}</span>
	    		<a href="#/login/" class="buy">立即购买</a>
	    	</div>
	    	<div class="server">
	    	    <p><span>支持自动退货</span><span>支持随时退货</span></p>
	    	    <p class="yishou">{{product.sales | salses}}</p>
	    	</div>
	    	<div class="h10"></div>
	    	<div class="msg">
	    		<h3 class='dj_gm'>店家信息</h3>
	    		<div class="info">
	    			<p >{{product.storeName}}</p>
	    		    <p >{{product.storeAdress}}</p>
	    		</div>
	    	</div>
	    	<div class="chakan">
	    		<p>查看 {{product.storeNum}} 家使用分店</p>
	    	</div>
	    	<div class="h10"></div>
	    	<div class="notice">
	    		<h3 class="dj_gm">购买须知</h3>
	    		<h4>有效期</h4>
	    		<p>{{product.validateTime}}</p>
	    		<h4>使用时间</h4>
	    		<p>{{product.useTime}}</p>
	    		<h4>使用规则</h4>
	    		<p v-for="item in product.rules">{{item}}</p>
	    	</div>
       </div>
    </script>

    <!-- 页面的search -->
    <script type="text/template" id="tpl-search">
        <section class="search">
                <div class="list-nav">
				    	<div class="search-arrow" v-on:click='cancelSearch'>
				    	    <span>取消</span>
				    	</div>
				    	<div class="list-search">
				    		<span><input type="text" placeholder="请输入商品名称、品类或商圈..." autofocus></span>
				    	</div>
				    	<div class="search-info">
                            <span>搜索</span>
				    	</div>
	            </div>
	            <div class="search-types">
	               <ul>
	                  <li v-for="item in types"><a herf="*">{{item.value}}</span></a>
	               </ul>
	            </div>
	            <div class="search-footer">
                     <p class="uer-info">
                        <a href="#/login/">登陆</a>
                        <a href="#/register/">注册</a>
                     </p>
                     <p class="uer-address">
                        <span>城市:</span>
                        <span>上海</span>
                     </p>
	            </div>
        </section>
    </script>

    <!-- 登陆的login -->
    <script type="text/template" id="tpl-login">
          <section class="login">
               <div class="list-nav">
				    	<div class="list-arrow" v-on:click="goBack">
				    		<span></span>
				    	</div>
				    	<div class="product-info">
				    		<h3>登录</h3>
				    	</div>
				    	<div class="login-my">
		                    <a href="#/register/">注册</a>
				    	</div>
               </div>
	           <div class="two-login">
	                 <ul>
	                 	<li class="cur" v-on:click="showFast"><span>快速登录</span></li>
	                 	<li  v-on:click="showUser"><span>账号登录</span></li>
	                 </ul>
		             <form action="">
		                  <input type="text" placeholder="请输入手机号码" id="tel-user" />
		                  <input type="password" placeholder="请输入验证码" id="user-password"/ >
		                   <input type="button" value="获取验证码" id="yanzheng" v-on:click="getYzm"/>
		                  <input type="submit" value="登录"/>

		             </form>
	           </div>
          </section>
    </script>

    <!-- 登陆的register -->
    <script type="text/template" id="tpl-register">
          <section class="register">
               <div class="list-nav">
				    	<div class="list-arrow" v-on:click="goBack">
				    		<span></span>
				    	</div>
				    	<div class="product-info">
				    		<h3>注册</h3>
				    	</div>
               </div>
	           <div class="register">
		             <form action="">
		                  <input type="text" placeholder="请输入您的手机号码" />
		                  <input type="button" value="获取验证码"  v-on:click="getYzm"/>
		                  <input type="text" placeholder="请输入验证码"/ >
		                  <input type="password" placeholder="请设置登录密码"/ >
		                  <input type="password" placeholder="确认登录密码"/ >
		                  <p>登录密码为6为以上的数字和字母的组合，区分大小写</p>
		                  <input type="submit" value="注册"/>
		             </form>
	           </div>
          </section>
    </script>
    <!-- 引用库文件 -->
	<!-- 引用入口文件 -->

<script type="text/javascript" src="mod.js"></script>
<script type="text/javascript" src="js/pack.js"></script>
<script type="text/javascript" src="lib/vue.js"></script>
<script type="text/javascript">
	   require("js/app")
	</script>
</body>
</html>